@model MediatorBuddy.Samples.Mvc.ViewModels.WidgetIndexViewModel

<div>
    <button><a asp-controller="Widget" asp-action="Add">Add Widget</a></button>
</div>
<ul>
    @foreach (var widget in Model.Widgets)
    {
        <li>
            @widget.Id - @widget.Name <button><a asp-controller="Widget" asp-action="Details" asp-route-id="@widget.Id">Details</a></button>
        </li>
    }
</ul>