@page
@model MediatorBuddy.Samples.Razor.Pages.Widgets.AddModel

<div>
    <form method="post">
        <div>
            <label asp-for="ViewModel.Name"></label>
            <input asp-for="ViewModel.Name"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>